// Application.xcconfig

#include "../Carthage/Checkouts/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Base/Targets/Application.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = {BUNDLE_IDENTIFIER_PREFIX}.{PROJECT_NAME}
INFOPLIST_FILE = $(PROJECT_DIR)/{PROJECT_NAME}/Info.plist
CODE_SIGN_IDENTITY[sdk=iphoneos*] =